#stylized
  .myform
    %div
      %h3{:style=>"min-width:300px;display:inline-block;"}
        %span= "Your MRN: #{@patient.mrn}"
      %h3{:style=>"display:inline-block;"}
        %span= "Date: #{Date.today.to_s}"
    = form_for @patient_risk_factor do |f|
      -if @patient_risk_factor.errors.any?
        #error_explanation.flash.alert
          %h2= "#{pluralize(@patient_risk_factor.errors.count, "Error")}:"
          %ul
            - @patient_risk_factor.errors.full_messages.each do |msg|
              %li= msg      
      %fieldset
        %legend Profile
        .field
          %p We begin the survey by looking at factors that affect your health such as sex, age, and ethnic background, family and personal history (Step 1 and 2). All the information collected in this voluntary survey will be kept confidential.
          .field-item
            = label_tag "Gender"
            = f.select :gender, ['Male','Female'], { :prompt => "Select gender" }, :class => 'validate[required]'			  
          .field-item
            = f.label :year_of_birth
            = f.select :year_of_birth, (1930..Time.now.year).to_a, { :prompt => "Select year" }, :class => 'validate[required]'
        .field
          %p Ethnicity: Different ethnic groups have varying risks for different kinds of skin cancers and may present symptoms in different ways. Select the group or groups you most see yourself belonging to:
          - Ethnicity.all.each do |e|
            .field-item
              = label_tag nil, nil, :class => 'checkbox' do
                = check_box_tag "patient_risk_factor[ethnicity_ids][]", e.id, @patient_risk_factor.ethnicities.include?(e), :class => 'validate[minCheckbox[1]]'
                = e.title
      %fieldset
        %legend Personal History
        .field
          %p Do you have a first degree relative (sibling, parent or child) with melanoma?
          - [ ['0', 'Yes'], ['1', 'No'], ['2', 'Don\'t know'] ].each do |option|
            .field-item
              = f.radio_button :first_degree_relative, option[0], :class => 'validate[required]'
              = f.label :first_degree_relative, option[1], :value => option[0], :class => 'radio'          
        .field
          %p Have you ever been diagnosed with melanoma?
          - [ [true, 'Yes'], [false, 'No'] ].each do |option|
            .field-item
              = f.radio_button :melanoma_diagnosis_history, option[0], :class => 'validate[required]'
              = f.label :melanoma_diagnosis_history, option[1], :value => option[0], :class => 'radio'
        .field
          %p To the best of your ability, estimate the number of melanocytic nevi (also known as moles or birthmarks) on your entire body?
          - [ ['0','0'], ['1','1 - 20'], ['2','21 - 50'], ['3','51 - 99'], ['4','100+'] ].each do |option|
            .field-item
              = f.radio_button :number_of_melanocytic_navi, option[0], :class => 'validate[required]'
              = f.label :number_of_melanocytic_navi, option[1], :value => option[0], :class => 'radio'			  
        .field
          %p Have you ever held a residence in a tropical or subtropical climate?
          - [ [true, 'Yes'], [false, 'No'] ].each do |option|
            .field-item
              = f.radio_button :tropical_residence, option[0], :class => 'validate[required]'
              = f.label :tropical_residence, option[1], :value => option[0], :class => 'radio'                              
          .field-item
            %p i) If yes, how long was your stay? 
            = f.label :tropical_residence_period, "Period in months"
            = f.text_field :tropical_residence_period
        .field
          %p How many episodes of sever sunburn have you experienced in your life? 
          - [ ['0','0'], ['1','1'], ['2','2'], ['3','3+'] ].each do |option|
            .field-item
              = f.radio_button :sun_burn_episodes, option[0], :class => 'validate[required]'
              = f.label :sun_burn_episodes, option[1], :value => option[0], :class => 'radio'          
        .field
          %p How often do you frequent tanning salons or make use of sun lamps?
          - [ ['0','Never'], ['1','Seldom'], ['2','Sometimes'], ['3','Often'], ['4','Very often'] ].each do |option|
            .field-item
              = f.radio_button :tanning_saloon_frequency, option[0], :class => 'validate[required]'
              = f.label :tanning_saloon_frequency, option[1], :value => option[0], :class => 'radio'          
        .field
          %p Do you have a regular dermatologist?
          - [ [true, 'Yes'], [false, 'No'] ].each do |option|
            .field-item
              = f.radio_button :regular_dermatologist, option[0], :class => 'validate[required]'
              = f.label :regular_dermatologist, option[1], :value => option[0], :class => 'radio'                              
        .field
          %p I am currently immunosuppressed (eg. Untreated HIV infection, AIDS, organ transplant patient, Crohn's etc. OR from pharmaceutical therapies including azathioprine or cyclosporine)
          - [ [true, 'Yes'], [false, 'No'] ].each do |option|
            .field-item
              = f.radio_button :immunosuppressed, option[0], :class => 'validate[required]'
              = f.label :immunosuppressed, option[1], :value => option[0], :class => 'radio'                              
      %fieldset
        %legend Genetic Disposition
        .field
          %p Questions in step 4 and 5 will help us classify your skin type by response to sun exposure in terms of degree of burning and tanning.
          %p Your eye color?
          - [ ['0','Light blue, gray, green'], ['1','Blue, gray, green'], ['2','Blue'], ['3','Dark Brown'], ['4','Brownish black'] ].each do |option|
            .field-item
              = f.radio_button :eye_color, option[0], :class => 'validate[required]'
              = f.label :eye_color, option[1], :value => option[0], :class => 'radio'
        .field
          %p You hair Color?
          - [ ['0','Sandy, red'], ['1','Blonde'], ['2','Chestnut, dark blonde'], ['3','Dark Brown'], ['4','Black'] ].each do |option|
            .field-item
              = f.radio_button :hair_color, option[0], :class => 'validate[required]'
              = f.label :hair_color, option[1], :value => option[0], :class => 'radio'
        .field
          %p Color of non-exposed skin?
          - [ ['0','Reddish'], ['1','Pale'], ['2','Beige or olive'], ['3','Brown'], ['4','Dark brown'] ].each do |option|
            .field-item
              = f.radio_button :skin_color, option[0], :class => 'validate[required]'
              = f.label :skin_color, option[1], :value => option[0], :class => 'radio'          
        .field
          %p Do you have freckles?
          - [ ['0','Many'], ['1','Several'], ['2','Few'], ['3','Rare'], ['4','None'] ].each do |option|
            .field-item
              = f.radio_button :freckle_count, option[0], :class => 'validate[required]'
              = f.label :freckle_count, option[1], :value => option[0], :class => 'radio'
      %fieldset
        %legend Reaction to Sun Exposure
        .field
          %p What happens when you stay in the sun for too long?
          - [ ['0','Painful redness, blistering, peeling'], ['1','Mild blisters, followed by peeling'], ['2','Burns sometimes followed by peeling'], ['3','Rarely burn'], ['4','Never burns'] ].each do |option|
            .field-item
              = f.radio_button :long_sun_exposure_effect, option[0], :class => 'validate[required]'
              = f.label :long_sun_exposure_effect, option[1], :value => option[0], :class => 'radio'
        .field
          %p To what degree do you turn brown?
          - [ ['0','Hardly, not at all'], ['1','Light'], ['2','Moderate'], ['3','Tans easily'], ['4','Readily Tans'] ].each do |option|
            .field-item
              = f.radio_button :color_sun_exposure_effect, option[0], :class => 'validate[required]'
              = f.label :color_sun_exposure_effect, option[1], :value => option[0], :class => 'radio'          
        .field
          %p Do you tan within several hours after sun exposure?
          - [ ['0','Never'], ['1','Seldom'], ['2','Sometimes'], ['3','Often'], ['4','Always'] ].each do |option|
            .field-item
              = f.radio_button :tan_sun_exposure_effect, option[0], :class => 'validate[required]'
              = f.label :tan_sun_exposure_effect, option[1], :value => option[0], :class => 'radio'          
        .field
          %p Is your face sensitive to the sun?
          - [ ['0','Very sensitive'], ['1','Sensitive'], ['2','Sometimes'], ['3','Resistant'], ['4','Never had a problem'] ].each do |option|
            .field-item
              = f.radio_button :sensitivity_sun_exposure_effect, option[0], :class => 'validate[required]'
              = f.label :sensitivity_sun_exposure_effect, option[1], :value => option[0], :class => 'radio'          
        .field
          %p#survey_end This is the end of the survey. Thank you for participation. Please press the 'Save' button to finish.
        .actions          
          = f.submit 'Save', :class => "saveform"
